<template>
    <footer class="p-3 text-center shadow-inner shadow-secondary rounded-md text-xs">
        <section class="flex items-center justify-between">
            <NuxtLink to="/" active-class="active" class="text-center leading-6 rounded-full flex gap-2 items-center">
                <Logo />
                <!-- <span class="text- text-primary">NurullahNergiz</span> -->
            </NuxtLink>
            <div class="text-xs">
                <a href="https://github.com/Nurullah-Nergiz/webpage/issues/new" class="px-1" target="_blank">
                    Destek
                </a>
                <a href="https://github.com/Nurullah-Nergiz/webpage" class="px-1" target="_blank">
                    Kaynak kodu
                </a>
            </div>
        </section>
        <hr class="my-2">
        <section class="flex items-center justify-between text-xs">
            <p class="">&copy; 2024 Nurullah Nergiz. All rights reserved.</p>
            <div class="flex items-center">
                <a href="mailto:nurullah@nergiz.me" class="bx bx-envelope px-3 py-2"></a>
                <a href="https://www.linkedin.com/in/nurullah-nergiz/" target="_blank"
                    class="bx bxl-linkedin px-3 py-2"></a>
                <a href="https://github.com/Nurullah-Nergiz/" target="_blank" class="bx bxl-github px-3 py-2"></a>
                <a href="https://github.com/Nurullah-Nergiz/" target="_blank" class="bx bxl-medium px-3 py-2"></a>
                <a href="https://twitter.com/nurullahNergiz_" target="_blank" class="bx bxl-twitter px-3 py-2"></a>
                <a href="https://www.instagram.com/nurullahnergiz_/" target="_blank" class="bx bxl-instagram px-3 py-2"></a>
            </div>
        </section>
    </footer>
</template>
