<script>
import logo_white from "@/assets/img/logo-white.png";
export default {
    data() {
        return {
        }
    }
}
</script>
<template>
    <img src="../assets/img/logo-white.svg" alt="logo">
</template>