@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #bbb;
    background: rgb(17, 17, 17);
    background: linear-gradient(
      145deg,
      rgba(17, 17, 17, 1) 0%,
      rgba(24, 24, 24, 1) 100%
    );
    font-family: "Poppins", sans-serif;
  }

  html,
  body,
  #__nuxt {
    min-height: 99vh;
  }

  a {
    color: #fff;
  }

  h1 {
    @apply text-3xl;
  }

  main {
    @apply h-full;
  }
}

@layer components {
  #__nuxt {
    width: min(88%, 1024px);
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .readme-description h1,
  .readme-description h2,
  .readme-description h3,
  .readme-description h4,
  .readme-description h5,
  .readme-description h6,
  .readme-description a {
    @apply my-3 border-b border-white;
  }

  .readme-description pre code.language-bash {
    @apply my-3 p-3 bg-secondary text-white block;
  }

  .readme-description li {
    @apply m-2;
  }
}
